@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
}

/* root styling */
:root{
    --color1:#253342;
    --color2:#1ABC9C;
    --color3:#FFFFFF;
    --font-color1: white;
    --font-color2: black;
}
