*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/* H.W */
/* .container:not(۔para){
    background-color:red;
}
 */
/* 
:is(:required){
    background-color: saddlebrown;
 }
  */

/* where ==== is h.w */
/* difference =  */



/* Casecade Algorithm */
